body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(200, 215, 255), rgb(255, 135, 97));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
  font-family: 'Gochi Hand', cursive;
}

.poem-container{
 margin: 50px;

 border: 1px solid rgb(201, 255, 156);
 padding: 10px;
}

.poem-container{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.page-title{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.theme-selector{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.poem-line{
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}

.words-list {
  grid-column: 1 / span 1;
  grid-row: 4/ span 1;
}
.rhyming-words-list {
  grid-column: 2 / span 1;
  grid-row: 4/ span 1;
}
.coupled-words-list{
  grid-column: 3 / span 1;
  grid-row: 4/ span 1;
}
