body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(200, 215, 255), rgb(255, 135, 97));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
  font-family: 'Gochi Hand', cursive;
}

.poem-container{
 margin: 50px;

 border: 1px solid rgb(201, 255, 156);
 padding: 10px;
}
